<%= form_for(@order_detail) do |f| %>
  <% if @order_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_detail.errors.count, "error") %> prohibited this order_detail from being saved:</h2>

      <ul>
      <% @order_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <h3> <%= @id %></h3>

    
   <div class='field'>
      <%= f.label :order_id, 'ID' %><br>
     <%= f.text_field :order_id , class: 'form-control' ,:value => @id ,:readonly => true  %>
   </div>
    
   <div class='field'>
     <%= f.label :item_id, 'Producto' %><br>
     <%= f.collection_select :item_id, Item.all, :item_id, :title , { prompt: true }, { class: 'form-control'} %>
   </div>
    
    
   <div class='field'>
      <%= f.label :item_qty, 'Cantidad' %><br>
     <%= f.text_field :item_qty , class: 'form-control'%>
   </div>
    
    
    
    <%= f.submit %>
  </div>
<% end %>
