<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class='field'>
      <%= f.label :clientes, 'Clientes' %><br>
      <%= f.collection_select :customer_id, Customer.order('first_name').all, :customer_id, :first_name , { prompt: true }, { class: 'form-control'} %>
    </div>
    
    <div class='field'>
    <%= f.label :order_id, 'ID' %><br>
    <%= f.text_field :order_id ,class: 'form-control'%>
    </div>
    
    
    <div class='field'>
    <%= f.label :order_date, 'Order Date' %><br>
    <%= f.text_field :order_date ,class: 'form-control'%>
    </div>
    
    
    <div class='field'>
    <%= f.label :shipped_date, 'Shipped Date' %><br>
    <%= f.text_field :shipped_date ,class: 'form-control'%>
    </div>
    
    <%= f.submit %>
  </div>
<% end %>
