<h1>Ordenes</h1>


 <button type="button" class="btn btn-default">
             <span class=".glyphicon .glyphicon-plus"></span> <%= link_to 'New Order', new_order_path %>
</button>
<%if @orders.count <= 0%>
<p class='text-danger'>No hay Ordenes disponibles.</p><br>
<%else%>
<table>
  <thead>
    <tr>
      <th width='10%'>Order ID</th>
      <th width='20%'>Customer Name</th>
      <th width='20%'>Order Date</th>
      <th width='20%'>Shipped Date</th>
    </tr>
    
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to "#{order.order_id}", order_path(order.order_id) %></td>
        <% if order.customer.nil?%>
        <td>No tiene cliente u.u</td>
        <%else%>
        <td><%= order.customer.fullname %></td>
        <%end%>
        <td><%=  order.order_date   %></td>
        <td><%=  order.shipped_date   %></td>
        <td><%= link_to 'Eliminar', order_path(order.order_id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>
<br>

