<h1>Listing orders</h1>

<%= link_to 'New Order', new_order_path %>
<%if @orders.count <= 0%>
<p class='text-danger'>No hay Ordenes disponibles.</p><br>
<%else%>
<table>
  <thead>
    <tr>
      <th width='10%'>Order ID</th>
      <th width='20%'>Customer Name</th>
      <th width='20%'>Order Date</th>
      <th width='20%'>Shipped Date</th>
    </tr>
    
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to "#{order.order_id}", order_path(order.order_id) %></td>
        <td><%= order.customer.fullname %></td>
        <td><%=  order.order_date   %></td>
        <td><%=  order.shipped_date   %></td>
        <td><%= link_to 'Eliminar', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>
<br>

