<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    
    <%= f.label :item_id ,'ID' %>
    <%= f.text_field :item_id, class:'form_control'  %>
    
    <%= f.label :title ,'Title' %>
    <%= f.text_field :title, class:'form_control' %>
    
    
    <%= f.label :artist ,'Artist' %>
    <%= f.text_field :artist, class:'form_control' %>
    
    <%= f.submit %>
  </div>
<% end %>
