<% if flash[:notice] %>
	<div class="alert alert-dismissable alert-success">
		<%= notice %>
	</div>
<% end %>

<h1>Productos</h1>
 <button type="button" class="btn btn-default">
             <span class=".glyphicon .glyphicon-plus"></span> <%= link_to 'New Item', new_item_path %>
</button>
<% if @items.count <= 0%>
<p class='text-danger'>No hay Items disponibles.</p><br>
<%else%>
<table>
  <thead>
    <tr>
      <th>Item ID</th>
      <th> Title</th>
      <th> Artist</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.item_id %></td>
        <td><%= item.title %></td>
        <td><%= item.artist %></td>
        <td><%= link_to 'Edit', edit_item_path(item.item_id) %></td>
        <td><%= link_to 'Destroy', item_path(item.item_id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>
<br>


